<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				Take it outdoors and discover
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				PARK EXPLORER
			</p>
		</div>
		<div class="row">
			<p>
				<button class="btn btn-primary btn-lg" target="_blank">Start Discovering</button>
			</p>
		</div>
	</div>
	<div>
		<h2>What it does.</h2>
		<p>Bacon ipsum dolor sit amet chuck drumstick doner leberkas meatloaf landjaeger capicola pork shank turkey chicken jerky biltong pancetta. Cow porchetta corned beef shoulder tail capicola. Tongue shoulder pastrami swine landjaeger andouille. Swine flank pancetta meatloaf.</p>
		<ul>
			<li>
				Click
				<em>Signup</em>
				to get started.
			</li>
			<li>
				Configure your app to work with your social accounts, by editing the
				<em>/config/env/*.js</em>
				files.
			</li>
			<li>
				Edit your users module.
			</li>
			<li>
				Add new CRUD modules.
			</li>
			<li>
				Have fun...
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				Count Squirels
			</h2>
			<p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a>, to get started with NoSQL and MongoDB.</p>
		</div>
		<div class="col-md-3">
			<h2>
				Measure Trees
			</h2>
			<p><a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/guide.html">The Express Guide</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
		</div>
		<div class="col-md-3">
			<h2>
				Take Photos
			</h2>
			<p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's webiste</a> offers alot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
		</div>
		<div class="col-md-3">
			<h2>
				Other Things
			</h2>
			<p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a>, are great resources.</p>
		</div>
	</div>
	<br>Have fun out there,
	<br>The Park Explorer Team.
</section>